<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask + CSS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<header><h1>Deck Stats</h1></header>
<body>
    <nav>
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Services</a>
        <a href="#">Contact</a>
    </nav>

<div class="centered-div stacked-container">
    <button class="stacked-tag">Login/Sign Up</button>
    <button class="stacked-tag">Guest</button>
</div>
<!-- File Upload Form -->
<!-- <div>
    <form class="flex-container" action="/upload" method="post" enctype="multipart/form-data">
        <label class="flex-item" for="fileInput">Choose a file:</label>
        <input class="flex-item" type="file" id="fileInput" name="fileInput" accept=".txt, .pdf, .doc, .docx">
        <button class="flex-item" type="submit">Upload</button>
    </form>
</div> -->

</body>
</html>
